html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin: 0px auto;
    text-align: center;
    background-color: #252525;
  }
  h1{
    color: white;
    padding: 2vh;
  }
  h2 {
    color: white;
  }
  .button {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 0px;
    text-decoration: none;
    /* font-size: 30px; */
    margin: 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #f44336;
  }
  
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switchspan {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchspan:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switchspan {
  background-color: #2196F3;
}

input:focus + .switchspan {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchspan:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switchspan.round {
  border-radius: 34px;
}

.switchspan.round:before {
  border-radius: 50%;
} 

#huediv {
  display: inline-flex;
}

#hueRange {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 80%;
  height: 4rem;
  /* width: 2rem;
  height: 2rem; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#hueRange::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
#hueRange::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.inner {
  border: 2px solid white;
}

.modes {
  padding-top: 1rem;
}

button {
  font-size: 15px;
  font-weight: bold;
  background-color: #252525;
  color: rgb(255, 255, 255);
  border: 2px solid #00aaaa;
  width: 15rem;
  height: 3rem;
  margin: 0.5rem;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  background-color: #00aaaa;
  color: white;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  width: 17rem;
  height: 1rem;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.nogap {
  margin: 0;
  padding: 0;
}

#voltage {
  font-family: monospace;
  font-size: 35px;
}